* {
    margin: 0;
    padding: 0;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Montserrat', sans-serif;
    /* background: rgb(46, 160, 149); */
}

a {
    color: black;
}

body {
    background: black;
    /* filter: invert(100%); */
}

.whole-navbar {
    /* background: #1f2937; */
    /* box-shadow: 0px 15px 20px -15px #111111;  */
}

.burger {
    width: 20px;
    position: absolute;
    right: 45px;
    top: 28px;
    display: none;
    /* background: black; */
    cursor: pointer;
}

.burger span {
    /* color: rgb(46, 160, 149); */
    color: #116dff;
    cursor: pointer;
}

.nav {}

.navbar {
    display: flex;
    /* background: black; */
    padding-bottom: 10px;
    padding: 20px;
}

.navbar h1 {
    margin-left: 20px;
    margin-top: 7px;
    /* color: rgb(46, 160, 149); */
    color: white;
    font-size: 25px;
    /* font-family: sans-serif; */
}

.navbar ul {
    display: flex;
    margin-top: 15px;
    margin-left: 10px;
    position: absolute;
    right: 43px;
}

.navbar ul li {
    list-style: none;
    margin-left: 20px;
    transition: 0.3s;
}

.navbar ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
    /* color: turquoise; */
    color: #116dff;
}

.navbar ul li a {
    text-decoration: none;
    /* color: rgb(46, 160, 149); */
    color: white;
}

.navbar ul li button {
    border: 0px;
    padding: 10px;
    position: relative;
    bottom: 9px;
    /* background: rgb(46, 160, 149); */
    background: rgba(0, 0, 0, 0.712);
    border-radius: 5px;
    color: white;
}

.navbar ul li button a {
    color: white;
}

#darkmode {
    font-size: 30px;
    position: relative;
    bottom: 6px;
}

/* after-nav */
.after-nav {
    display: flex;
}

.after-nav ul {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: center;
}

.after-nav ul li {
    list-style: none;
    text-decoration: none;
    margin: 10px;

    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.219);
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.after-nav ul li:hover {
    box-shadow: 5px 5px 5px rgb(46, 160, 149, 0.219);
    /* background: rgb(46, 160, 149); */
    background: #116dff;
    transition: 0.3s;
    color: white !important;
}

.after-nav ul a {
    text-decoration: none;
    /* color: rgb(46, 160, 149); */
    color: white;
}

#home_icon {
    position: relative;
    top: 20px;
    left: 40px;
    /* color: rgb(46, 160, 149); */
    color: #116dff;
    transition: 0.2s;

    /* border-radius: 10px;
    background: black; */
}

#home_icon:hover {
    transform: scale(1.5);
    transition: 0.2s;
}

/* search */
.search {
    /* display: flex; */
    /* justify-content: center; */
}

.search input {
    padding: 10px;
    width: 250px;
    height: 40px;
    margin-top: 11px;
    position: absolute;
    right: 40px;
    border-radius: 10px;
    border: 0;
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.219);
    /* border-left-style: solid; */
    transition: 0.3s;
    background: transparent;
    outline: none;
    color: white;
}

.search input:hover {
    /* box-shadow: 5px 5px 5px rgb(46, 160, 149, 0.219); */
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.253);
    transition: 0.3s;
}

#search {
    position: relative;
    right: 55px;
    top: 18px;
    /* color: rgb(46, 160, 149); */
    /* color: black; */
    color: #116dff;
    transition: 0.3s;
    cursor: pointer;
}

#search:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

#hr {
    margin-top: 20px !important;
    width: 80%;
    margin: auto;
    border: 0px;
    background: rgba(255, 255, 255, 0.205);
    height: 0.1px;
}



/* hero */
.herowhole {
    width: 100% !important;
    margin: auto;
}

.hero {
    /* width: 90%; */
    margin: auto;
    display: flex;
    justify-content: center;
}

.hero-left {
    margin: 40px;
    font-size: large;
}

.hero-left button {
    border: 0px;
    padding: 10px;
    position: relative;
    bottom: 9px;
    font-size: 15px;
    /* background: rgb(46, 160, 149); */
    background: rgba(46, 46, 46, 0.712);
    border-radius: 5px;
    color: white;
    transition: 0.3s;
}

.hero-left button:hover {
    transform: scale(1.05);
    transition: 0.3s;
    color: white;
}

.image {
    /* background: url('https://source.unsplash.com/random/?tech'); */
    background: url('/images/heroimage1.jpg');
    /* background: rgb(46, 160, 149); */
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: 5px 5px 5px white;
    height: 300px;
    width: 400px;
    margin-top: 40px;
    /* position: relative; */
    /* top: 40px; */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 21% 100%);
}


/* recommended blogs */
.recommendedblogs {
    width: 28.5%;
    margin: auto;
    /* margin-left: 30px; */
}

.recommendedblogs h1 {
    /* position: fixed; */
}

.latestblogs {
    display: flex;
    justify-content: center;
    height: 300px;
    /* background: black; */
}

.blog {
    width: 30%;
    height: 100%;
    /* background: rgb(46, 160, 149); */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.219);
    border-radius: 15px;
    border: 0;
    margin: 10px;
    transition: 0.3s;

    background: rgba(0, 0, 0, 0.425) url("https://source.unsplash.com/random/?laptop");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}

.blog h2 {
    background: linear-gradient(to right, rgb(46, 160, 149), transparent);
    color: white;
    border-radius: 15px 15px 0px 0px;
    padding-left: 10px;
}

.blog button {
    border: 0;
    background: linear-gradient(to right, rgb(46, 160, 149), transparent);
    color: white;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 70%;
}

.blog:hover {
    /* transform: scale(1.05); */
    /* transition: 0.3s; */
}








.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: 0.2s;
}

.loader {
    border: 8px solid #116cff83;
    border-top: 8px solid #116dff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 0.5s linear infinite;
    transition: 0.2s;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}